.product-detail {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  .img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px 25px 12px 25px;
    background: #f6f7fb;
    & > div {
      width: 220px;
      height: 150px;
      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;
    & > span:first-child {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 18px;
      color: #fb2e86;
      line-height: 22px;
      word-break: break-word;
      font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
    }
    & > img:nth-child(2) {
      margin-bottom: 12px;
    }
    & > span:nth-child(3) {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 16px;
    }
    & > span:last-child {
      margin-top: 12px;
    }
  }
}
.featured-title {
  text-align: center;
  margin-bottom: 50px;
  span {
    font-family: "-apple-system,BlinkMacSystemFont,'Segoe UI'";
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 42px;
    color: #1a0b5b;
  }
}
.product-menu {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  & > div:first-child {
    margin-right: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
  & > div:last-child {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
}
.cart:hover {
  background: aqua;
  transition: all 0.8s;
}
.heart:hover {
  background: #fb2e86;
  transition: all 0.8s;
}
.product_item{
  font-weight: bold;
  color:#000;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
}
.product_price{
  font-weight: bold;
  color:#000;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
}
