.product-detail {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  .img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px 52px 12px 40px;
    background: #f6f7fb;
    img {
      cursor: pointer;
    }
  }
  .title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;
    & > span:first-child {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 18px;
      color: #fb2e86;
      line-height: 22px;
    }
    & > img:nth-child(2) {
      margin-bottom: 12px;
    }
    & > span:nth-child(3) {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 16px;
    }
    & > span:last-child {
      margin-top: 12px;
    }
  }
}
.featured-title {
  text-align: center;
  margin-bottom: 30px;
  span {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 42px;
    line-height: 42px;
    color: #1a0b5b;
  }
}
.product-menu {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  & > div:first-child {
    margin-right: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
  & > div:last-child {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
}
.cart:hover {
  background: #eeeffb;
  transition: all 0.8s;
}

.heart:hover {
  background: #eeeffb;
  transition: all 0.8s;
}
