.cart-title2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  color: #0d0e43
}

.cart-title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #0d0e43
}
.cart-title3{
  font-family: "Segoe UI";
}
