.count-item {
  display: flex;
  align-items: center;
  & > div:nth-child(2) {
    margin: 0 20px;
  }
}
.empty-cart {
  margin-bottom: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.products-item {
  display: flex;
  & > div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    & > span:first-child {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 100;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
    }
  }
}
.cart-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 20px;
  color: #1d3178;
}

.ant-table-thead > tr > th {
  background-color: transparent;
  border-bottom: none;
}
.ant-table-cell::before {
  background-color: transparent !important;
}
.checkout {
  display: flex;
  flex-direction: column;
  & > div:last-child {
    display: flex;
    .item-checkout {
      width: 80%;
      margin-right: 100px;
    }
  }
  .checkout-price {
    .title {
      display: inline-block;
      padding: 16px;
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 100;
      font-size: 20px;
      line-height: 20px;
      color: #1d3178;
      margin-bottom: 10px;
    }
  }
  .cart-total {
    text-align: center;
    & > div:last-child {
      width: 371px;
      background: #f4f4fc;
      border-radius: 3px;
      padding: 30px;
      .sub-totals,
      .tax-rate,
      .total {
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-bottom: 2px solid #e8e6f1;
        span {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #1d3178;
        }
      }
      .total {
        margin-bottom: 16px;
      }
    }
    .custom-btn-checkout {
      width: 312px;
      height: 43.24px;
      button {
        background: #19d16f;
        width: 100%;
        height: 100%;
        span {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          color: #ffffff;
        }
      }
      border-radius: 3px;
    }
    .ant-btn[disabled] {
      background-color: #ccc !important;
    }
  }
  .shipping {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8a91ab;
  }
}
.ant-checkbox-inner {
  border-radius: 4px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #19d16f;
  border-color: #19d16f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipping-checkbox {
  margin-bottom: 10px;
}

.custom-inp,
.custom-inp:hover {
  border-bottom: 1px solid #ccc;
  border-color: #ccc !important;
}

.billing-address {
  font-family: "Lato";
  font-style: normal;
  .custom-btn {
    background: #fb2e86;
    color: white;
  }
  .ant-btn-link[disabled] {
    background-color: #ccc;
    color: black;
  }
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #596387;
  }
  .label-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #596387;
  }
  .custom-style {
    .ant-form-item-control-input-content {
      border-bottom: 1px solid #ccc;
    }
  }
}

.billing-info {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  span {
    font-family: "Josefin Sans";
    font-style: normal;
    line-height: 18px;
  }
  & > div:first-child {
    display: flex;
    flex-direction: column;
    span {
      display: inline-block;
      margin: 8px 0;
    }
    & > span:first-child {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.change-info {
  display: flex;
}
.upload-avatar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-outline {
  padding: 8px;
  border-radius: 4px;
  background-color: #19d16f;
  color: white;
  cursor: pointer;
}

.title-avatar {
  span {
    font-size: 20px;
    font-weight: 600;
  }
}
